body {
  background-image: url("img/langit.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: Arial;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-family: Arial;
  font-size: 40;
}

.header {
  width: 100%;
  height: 75px;
  float: left;
  text-align: center;
  background-color: yellow;
}
.container {
  display: flex;
}
.container .pertalite {
  width: 25%;
  padding: 30px;
  text-align: center;
  background-color: lightgreen;
}
.container .pertamax {
  width: 25%;
  text-align: center;
  padding: 30px;
  background-color: red;
}
.container .dexlite {
  width: 25%;
  text-align: center;
  padding: 30px;
  background-color: seagreen;
}
.container .solar {
  width: 25%;
  text-align: center;
  padding: 30px;
  background-color: lightgrey;
}
img {
  width: 250px;
  height: 250px;
}
.footer {
  width: 100%;
  height: 60px;
  float: left;
  text-align: center;
  background-color: red;
  bottom: 0;
}
.formulir {
  width: 100%;
  height: 246px;
  margin-top: 10px;
  text-align: -webkit-center;
  background-color: floralwhite;
}
