body {
  background-image: url("langit.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: Arial;
  font-size: 2em;
}
h3 {
  text-align: center;
  font-family: Arial;
  font-size: 40;
}
.header {
  width: 100%;
  height: 75px;
  float: left;
  text-align: center;
  background-color: yellow;
}
.footer {
  width: 100%;
  height: 60px;
  float: left;
  text-align: center;
  background-color: red;
  bottom: 0;
}
.formulir {
  width: 100%;
  height: 700px;
  margin-top: 10px;
  text-align: -webkit-center;
  background-color: floralwhite;
}