body {
  background-image: url("img/langit.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: 100%;
  height: 75px;
  float: left;
  text-align: center;
  background-color: yellow;
}
h1 {
  text-align: center;
  font-family: Arial;
  font-size: 2em;
}
h2 {
  text-align: center;
  font-family: Arial;
  font-size: 40;
}
.container {
  display: flex;
  justify-content: center;
}

.container .bensin {
  width: 26, 5%;
  text-align: center;
  background-color: lightgreen;
}
img {
  width: 250px;
  height: 250px;
}

.footer {
  width: 100%;
  height: 60px;
  float: left;
  text-align: center;
  background-color: red;
  position: absolute;
  bottom: 0;
}
